@import url(fonts.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Playfair';
}

.box {
    width: 80%;
    background: blue;
    margin: 20px auto;
    height: 200px;
    position: relative;
}

.item {
    width: 100px;
    height: 100px;
    background: red;
    /* left: 50px; */
    right: 50px;
    /* top: 50px; */
    bottom: 50px;
    /* position: relative; */
    /* position: absolute; */
    position: fixed;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

.container {
    max-width: 1140px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.nav {
    padding: 25px 0;
    position: relative;
}

.nav__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
}

.menu__link {
    font-size: 12px;
    margin: 12px 20px;
    text-transform: uppercase;
    display: inline-block;
}

.dropdown {
    position: absolute;
    left: 20px;
    top: 100%;
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    border-radius: 2px;
    min-width: 160px;
    opacity: 0;
    transition: 0.5s;
    z-index: -1;
}

.menu__dropdown {
    position: relative;
}

.menu__dropdown:hover .dropdown {
    opacity: 1;
    z-index: 1;
}

.menu__icon {
    transition: 0.5s;
}

.menu__dropdown:hover .menu__icon {
    transform: rotate(180deg);
}

.dropdown__link {
    font-size: 12px;
    padding: 12px 30px;
    display: block;
    position: relative;
}

.dropdown__link::after {
    content: '';
    width: 100%;
    height: 1px;
    background: #E5E5E5;
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
}

li:last-of-type .dropdown__link::after {
    display: none;
}

.nav__input {
    border: 1px solid #41A28E;
    outline: none;
    padding: 5px 12px;
    max-width: 180px;
    width: 100%;
    font-size: 14px;
    font-family: 'Roboto';
    margin-right: 4px;
}

.nav__input::placeholder {
    color: #4B4848;
}

.nav__btn {
    border: none;
    outline: none;
    width: 28px;
    height: 28px;
    background: #41A28E;
    color: #fff;
    font-size: 14px;
}

.nav__form {
    display: flex;
}

.nav__burger {
    border: none;
    outline: none;
    background: #41A28E;
    color: #fff;
    font-size: 20px;
    padding: 7px 12px;
    display: none;
    justify-content: center;
    align-items: center;
}


.header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header__contnet {
    background: url(../img/header-bg.jpg) no-repeat center / cover;
    color: #fff;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header__title {
    font-weight: 400;
    font-size: 50px;
    background: rgba(0, 0, 0, 0.7);
    padding: 16px 61px;
    margin-bottom: 30px;
}

.header__desc {
    font-size: 22px;
    margin-bottom: 50px;
}

.header__link {
    padding: 22px 34px;
    background: #fff;
    color: #000;
    font-size: 12px;
    transition: 0.5s;
}

.header__link:hover {
    background: #41A28E;
    color: #fff;
}

.commerce {
    padding-top: 48px;
    padding-bottom: 72px;
}

.commerce__card {
    max-width: 255px;
    width: 100%;
    height: 170px;
    border: 1px solid #41A28E;
    position: relative;
    overflow: hidden;
    margin-bottom: 52px;
}

.commerce__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.commerce__title {
    position: absolute;
    left: 0;
    bottom: -50%;
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    width: 100%;
    color: #fff;
    background: rgba(75, 72, 72, 0.7);
    padding: 2px;
    transition: 0.5s;
}

.commerce__card:hover .commerce__title {
    bottom: 0;
}

.commerce__content {
    display: flex;
    justify-content: space-between;
}

.info {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.info__title {
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 18px;
}

.info__desc {
    color: #666666;
    font-family: 'Roboto';
}

.project {
    background: url(../img/jacket.jpg) no-repeat center / cover;
    padding-top: 120px;
    padding-bottom: 112px;
    color: #fff;
    background-attachment: fixed;
}

.project__desc {
    font-size: 20px;
    margin-bottom: 3px;
}

.project__title {
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 22px;
}

.project__link {
    color: #000;
    background: #fff;
    padding: 23px 42px;
    display: inline-block;
    font-size: 12px;
    transition: 0.5s;
}

.project__link:hover {
    background: #41A28E;
    color: #fff;
}

.custom {
    padding-top: 50px;
    padding-bottom: 20px;
}

.custom__card {
    max-width: 255px;
    width: 100%;
    margin-bottom: 30px;
}

.custom__wrapper {
    height: 340px;
    overflow: hidden;
    position: relative;
}

.custom__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.custom__service {
    position: absolute;
    left: 0;
    bottom: -50%;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    padding: 16px 19px;
    color: #fff;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.5s;
}

.custom__card:hover .custom__service {
    bottom: 0;
}

.custom__add {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.custom__add img {
    margin-right: 15px;
}

.custom__like {
    margin-right: 23px;
}

.custom__info {
    position: absolute;
    left: 0;
    top: 0;
    background: #4B484B;
    color: #fff;
    padding: 10px 18px;
    font-family: 'Roboto';
    font-size: 12px;
}

.custom__title {
    font-size: 22px;
    font-weight: 400;
    margin-top: 43px;
}

.custom__price {
    font-size: 18px;
    margin-top: 6px;
    font-feature-settings: 'pnum' on, 'lnum' on, 'liga' off;
}

.custom__sale {
    color: #666666;
    text-decoration: line-through;
    margin-right: 15px;
}

.custom__content {
    display: flex;
    justify-content: space-between;
    margin-top: 69px;
}

.footer {
    background: #000;
    color: #fff;
    font-family: 'Roboto';
    padding-top: 36px;
}

.footer__card {
    max-width: 255px;
    width: 100%;
}

.footer__title {
    font-family: 'Playfair';
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 38px;
}

.footer__link {
    font-size: 14px;
    margin: 10px 0;
    display: inline-block;
}

.footer__link_my {
    margin: 7px 0;
    display: flex;
    align-items: center;
}

.footer__link_my i {
    margin-right: 10px;
    font-size: 21px;
}

.footer__input {
    border: none;
    outline: none;
    font-family: 'Roboto';
    font-size: 14px;
    padding: 14px 10px;
    max-width: 200px;
    width: 100%;
}

.footer__input::placeholder {
    color: #909090;
}

.footer__btn {
    border: none;
    outline: none;
    font-family: 'Roboto';
    font-size: 16px;
    padding: 13px 10px;
    background: #41A28E;
    color: #fff;
}

.footer__form {
    display: flex;
    margin-bottom: 20px;
}

.footer__desc {
    font-size: 14px;
    margin-bottom: 20px;
}

.footer__service {
    display: flex;
    font-size: 30px;
}

.footer__pay {
    margin-right: 25px;
}

.footer__content {
    display: flex;
    justify-content: space-between;
}

.footer__design {
    background: #121212;
    text-align: center;
    padding: 40px 15px;
    margin-top: 36px;
    color: #666666;
    font-size: 18px;
}

.footer__name {
    text-shadow: 0px 0px 4px #E52D27;
    /* box-shadow: inset 0px 0px 4px 0px #fff; */
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #41A28E;
    border-radius: 5px;
}

.window {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.window__form {
    max-width: 400px;
    width: 100%;
    height: 400px;
    border-radius: 20px;
    background: #fff;
    padding: 20px;
}

.window:target {
    display: flex;
}